<div class="container-fluid"  data-ng-cloak="true" data-ng-app="itemTracker">
  <div class="row justify-content-center p-3">
    <h3>Admin Panel</h3>
  </div>
  <div class="row justify-content-center">
   <!-- <div class="col-auto p-3" ng-if="'${repoItem.rName}'!=''"
      id="syncFormResult">
      <h6>Added following item to the Repo</h6>
      <table id="syncFormResultTable"
        class="table-sm table-borderless table-responsive .w-auto">
        <tr>
          <td>Item Name :</td>
          <td>${repoItem.rName}</td>
        </tr>
        <tr>
          <td>Refrigerator Longevity :</td>
          <td>${repoItem.rFridgeDate}</td>
        </tr>
        <tr>
          <td>Pantry Longevity:</td>
          <td>${repoItem.rPantryDate}</td>
        </tr>
        <tr>
          <td>Freezer Longevity:</td>
          <td>${repoItem.rFreezeDate}</td>
        </tr>
      </table>
    </div>-->
    <div class="panel">
      <div class="tablecontainer p-3">
        <table data-ng-controller="RepoItemController as ctrl"
          class="table table-light table-hover table-responsive .w-auto"
          id="repo_items">
          <caption>
            <div class="row">
              <div class="col col-xs-8 text-left">
                <h3>Manage Repo Items</h3>
              </div>
              <div class="col col-xs-8 text-right">
                <button id="addRepoItem" routerLink="../addRepoItemForm"
                  class="btn btn-success" data-toggle="tooltip"
                  data-placement="right" title="Add new item to repo">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </caption>
          <thead>
            <tr class="table-info">
              <th>ID</th>
              <th>Name</th>
              <th>Fridge Longevity</th>
              <th>Freezer Longevity</th>
              <th>Pantry Longevity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let repoItem of repoItems; let i = index" id="repo_item_{{i}}">
              <td>{{repoItem.rId}}</td>
              <td>{{repoItem.rName}}</td>
              <td>{{repoItem.rFridgeDate}}</td>
              <td>{{repoItem.rFreezeDate}}</td>
              <td>{{repoItem.rPantryDate}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row justify-content-center p-3">
    <button class="btn btn-light" id="backFromAsync"
    routerLink="/">Back</button>
  </div>
</div>
