<div class="container-fluid"
		data-ng-controller="ItemController as ctrl">
		<div class="row justify-content-center p-5">
			<h3 id="page_title">Nishant's Inventory</h3>
		</div>
		<!-- <form autocomplete="off" data-ng-submit="ctrl.submit()" id="asyncForm"
			class="form-inline"></form> -->
		<div class="panel">
			<div class="tablecontainer">
				<table class="table table-light table-hover .w-auto" id="items">
					<caption>
						<h3>Manage Items</h3>
					</caption>
					<thead app-item-form #itemForm (refreshList)='listAllItems()'>
					</thead>
					<tbody>
						<tr class="animation" *ngFor="let item of items; let i = index"
							id="item_{{i}}">
							<td>{{item.name}}</td>
							<td>{{item.storageState}}</td>
							<td>{{item.longevity}}</td>
							<td>{{item.purchaseDate}}</td>
							<td>{{item.expiryDate}}</td>
							<td>
								<div class="text-nowrap">
									<button type="button" id="edit_button_{{i}}"
										(click) ="itemForm.edit(item)" class="btn btn-warning">
										<i class="fas fa-edit"></i>
									</button>
									<button type="button" id="delete_button_{{i}}" data-toggle="modal" (click)="dItem = item"
										 data-target="#deleteConfirmation"
										class="btn btn-danger">
										<i class="fas fa-trash"></i>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
        </table>
				<div class="row justify-content-center p-3">
					<button id="backFromSync" class="btn btn-light"
          routerLink="/">Back</button>
				</div>
			</div>
		</div>
		<!-- Modal alert for deletion -->
		<div class="modal fade" id="deleteConfirmation" tabindex="-1"
			role="dialog" aria-labelledby="deleteConfirmation" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteConfirmationTitle">Confirm
							Deletion</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to delete the following item from
							your inventory?</p>
						<p>
							<strong *ngIf="dItem" >{{dItem.name}}</strong>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" id="cancel_delete_button"
							class="btn btn-warning" data-dismiss="modal">No</button>
						<button type="button" id="confirm_delete_button"
							class="btn btn-danger" data-dismiss="modal" (click)="deleteItem(dItem)">Yes</button>
					</div>
				</div>
			</div>
		</div>
  </div>
