/********************************* Universal elements **************************************/
body {
	background: #56CCF2; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2F80ED, #56CCF2);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#center_button {
	text-align: center;
}
/************************************ Page speciifc style elements **************************************/

/*welcome.jsp */
.bar {
	text-align: center;
	width: 50%;
	margin: 15px auto;
}

/*addItemForm.jsp */
.required:after {
	content: " *";
	color: red
}

.requiredfootnote:before {
	content: "* ";
	color: red
}
/* inventory.jsp */
#inner {
	width: 50%;
	margin: 0 auto;
}
/* Bootstrap style CSS for autocomplete */
.name-typeahead .dropdown-menu {

}

.name-typeahead .dropdown-menu li a {
	display: block;
	padding: 3px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #555555;
	white-space: nowrap;
	text-decoration: none;
}

.name-typeahead .dropdown-menu li.active a{
	color: white;
	text-decoration: none;
	background-color: #007bff;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-image: none;
}
/*  CSS animations for adding/deleting items */



.fade {
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
   opacity: 1;
}

.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}
animate-enter, 
.animate-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-leave.animate-leave-active,
.animate-enter {
    -webkit-transform: rotateX(90deg) rotateZ(90deg);
    -moz-transform: rotateX(90deg) rotateZ(90deg);
    -ms-transform: rotateX(90deg) rotateZ(90deg);
    -o-transform: rotateX(90deg) rotateZ(90deg);
    transform: rotateX(90deg) rotateZ(90deg);
    opacity: 0;
    height: 0px;
}        

.animate-enter.animate-enter-active,
.animate-leave {
    -webkit-transform: rotateX(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateZ(0deg);
    -o-transform: rotateX(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateZ(0deg);
    opacity: 1;
    height: 30px;
}